{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    دستورعمل هایی برای تغییر گذرواژه به ایمیل شما ارسال شد، اگر حسابی با ایمیل وارد شده وجود داشته باشد به زودی آن را دریافت خواهید کرد
		  </p>
		  <p class="m-auto p-2">
			  اگر ایمیلی دریافت نکردید لطفا اطمینان حاصل کنید که ایمیلی که با آن ثبت نام کرده اید را وارد نمودید و هرزنامه های ایمیلتان را بررسی کنید
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">بازگشت به صفحه اصلی</a></p>
	</div>
</div>

{% endblock %}